.btn
  font-weight: 600
  font-size: 1.1em
  border: 2px solid $light-green
  border-radius: 100px
  padding: 15px 35px
  color: $light-green
  @include transition(all 0.2s ease-in-out)

  &:hover
    background-color: $light-green
    color: white
    
h2 
  font-size: 2em
h3
  font-size: 1.5em
     
hr 
  border: 3px solid rgba(0, 0, 0, 0.3)
  border-radius: 20px
  margin: 2.5em auto
  width: 100px
  
.center
  text-align: center

