---
layout: default
---
{% include landing-hero.html %}
<div class="home">
  <div class="wrapper">
    <div class="landing-card">
      <i class="fa fa-cogs fa-4x"></i>
      <h2 class="landing-title">
        Raklapok gyártása
      </h2>
      <p class="landing-content">
        {{ site.production }}
      </p>
      <a href="{{ site.url }}/gyartas/" class="btn">Gyártás</a>
    </div>
    <div class="landing-card">
      <i class="fa fa-home fa-4x"></i>
      <h2 class="landing-title">
        Fesztiválházak bérbeadása
      </h2>
      <p class="landing-content">
        {{ site.rental }}
      </p>
      <a href="{{ site.url }}/berbeadas/" class="btn">Bérbeadás</a>
    </div>
  </div>
  

  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
