<section id="contact" class="contact-container">
  <div class="wrapper">
    <h2 class="contact-title">Kapcsolat</h2>
    <hr>
    <form id="mail" action="//formspree.io/palfaker@gmail.com"
      method="POST">
      
      <label for="name">Kapcsolattartó neve:</label>
      <input type="text" name="name">
      
      <label for="_replyto">E-mail cím:</label>
      <input type="email" name="_replyto">
      
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="hidden" name="_next" value="{{ site.url }}" />
      
      <label for="content">Üzenet</label>
      <textarea name="content" form="mail"></textarea>
      
      <div class="submit-group">
        <input type="text" name="_gotcha" style="display:none" />
        <input class="btn" type="submit" value="Küldés">
      </div>
      
    </form>
  </div>
</section>