<section class="custom-order">
  <div class="wrapper">
    <div class="text-container">
      <h3>Egyéni rendelések</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, aut corporis voluptatibus vel eos consequuntur nemo
        incidunt culpa temporibus sapiente natus possimus perferendis illo aliquid dicta nesciunt quos cupiditate tenetur!
      </p>
    </div>
    <div class="link-container">
      <a href="#contact" class="btn">Kapcsolat</a>
    </div>
  </div>
</section>