<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.url }}" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button sliding-panel-button">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="#about">Rólunk</a>
        </li>
        <li class="nav-link">
          <a href="#services">Szolgáltatásaink</a>
        </li> 
        {% if page.type == "production" %}
          <li class="nav-link">
            <a href="#products">Termékeink</a>
          </li> 
        {% endif %}
        {% for page in site.pages %}
          {% if page.title %}
            <li class="nav-link">
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page.type != "landing" %}
          <li class="nav-link">
            <a href="#contact">Kapcsolat</a>
          </li> 
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li class="nav-link">
      <a href="#about">Rólunk</a>
    </li>
    <li class="nav-link">
      <a href="#services">Szolgáltatásaink</a>
    </li> 
    {% if page.type == "production" %}
      <li class="nav-link">
        <a href="#products">Termékeink</a>
      </li> 
    {% endif %}
    {% for page in site.pages %}
      {% if page.title %}
        <li class="nav-link">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page.type != "landing" %}
      <li class="nav-link">
        <a href="#contact">Kapcsolat</a>
      </li> 
    {% endif %}
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>