<section id="products" class="product-slider">
  <h2>Legkeresettebb termékeink</h3>
  <hr>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active col-md-12">
          <h2 class="title">Egyedi méretre gyártott fa raklapok</h2>
          <div class="col-md-6">
            <img src="../img/raklap-sima.jpg" alt="raklap">
          </div>
          
          <div class="col-md-6">
            <img src="../img/raklap2.jpg" alt="raklap">
          </div>
        </div>

        <div class="item col-md-12">
          <h2 class="title">Fadobok különböző méretben</h2>
          <div class="col-md-6">
            <img src="../img/fadob2.jpg" alt="Fadob">
          </div>
          
          <div class="col-md-6">
            <img src="../img/fadob.jpg" alt="Fadob">
          </div>
        </div>

        <div class="item col-md-12">
          <h2 class="title">Egyedi méretű tárolók</h2>
          <div class="col-md-6">
            <img src="../img/Kontérer.jpg" alt="Konténer">
          </div>
          
          <div class="col-md-6">
            <img src="../img/custom.jpg" alt="Konténer">
          </div>
        </div>

        <div class="item col-md-12">
          <h2 class="title">Különböző kisdobok</h2>
          <div class="col-md-6">
            <img src="../img/kisdob.JPG" alt="Kisdob">
          </div>
          
          <div class="col-md-6">
            <img src="../img/kisdob2.jpg" alt="Kisdob">
          </div>
        </div>

        <div class="item col-md-12">
          <h2 class="title">Nagy teherbírású vasdobok</h2>
          <div class="col-md-6">
            <img src="../img/vasdob.jpg" alt="Vasdob">
          </div>
          
          <div class="col-md-6">
            <img src="../img/vasdob2.jpg" alt="Vasdob">
          </div>
        </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>
