<section class="card-container">
  <div class="wrapper">
    <div class="production-card">
      <i class="fa fa-cog"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
  </div>
</section>