<section id="services"class="card-container">
  <div class="wrapper">
    <h2 class="center">
      Amit rólunk érdemes tudni!
    </h2>
    <hr>
    <div class="production-card">
      <i class="fa fa-cog fa-3x"></i>
      <h3>Megbízhatóság</h3>
      <p>Megbízható partner, akire számíthat, és akivel tervezhet. Raklap eladás és raklap gyártásban egyaránt.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog fa-3x"></i>
      <h3>Pontosság</h3>
      <p>Szükség esetén rugalmas, szakszerű segítség speciális fa csomagolóanyag, egyedi megrendelések esetén.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog fa-3x"></i>
      <h3>ISPM-15</h3>
      <p>Rendelkezünk a szükséges engedéllyel mely lehetővé teszi fa csomagolóanyagok hőkezelését, gyártását.</p>
    </div>
    <div class="production-card">
      <i class="fa fa-cog fa-3x"></i>
      <h3>Tapasztalat</h3>
      <p>xx év raklap gyártási tapasztalat segít az Ön számára legmegfelelőbb csomagolási eszköz kiválasztásában</p>
    </div>
  </div>
</section>