<section id="services"class="card-container">
  <div class="wrapper">
    <h2 class="center">
      Amit rólunk érdemes tudni!
    </h2>
    <hr>
    <div class="flex-container">
      <div class="production-card">
        <i class="fa fa-industry fa-3x"></i>
        <h3>Megbízhatóság</h3>
        <p>Megbízható partner, akire számíthat, és akivel tervezhet. Fa csomogolóanyagok tervezésében, gyártásban, eladásában és kiszállításában egyaránt. </p>
      </div>
      <div class="production-card">
        <i class="fa fa-truck fa-3x"></i>
        <h3>Rugalmasság</h3>
        <p>Szükség esetén rugalmas, szakszerű segítség speciális fa csomagolóanyag gyártásaban és kiszállításaban, a vevő igényeihez igazodva.</p>
      </div>
      <div class="production-card">
        <i class="fa fa-certificate fa-3x"></i>
        <h3>Hőkezelés</h3>
        <p>Rendelkezünk a szükséges engedéllyel mely lehetővé teszi fa csomagolóanyagok hőkezelését, gyártását amennyiben termékeit külföldre kívánja.</p>
      </div>
      <div class="production-card">
        <i class="fa fa-book fa-3x"></i>
        <h3>Tapasztalat</h3>
        <p>Sok éves gyártási tapasztalat segít az Ön számára legmegfelelőbb csomagoló eszköz kiválasztásában, a csomagólni kívánt termékhez igazodva.</p>
        <p></p>
      </div>
    </div>
  </div>
</section>