<section class="product-slider">
  <h2>Legkeresettebb termékeink</h3>
  <hr>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active col-md-12">
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1443527216320-7e744084f5a7?fit=crop&fm=jpg&h=675&ixlib=rb-0.3.5&q=80&w=1375" alt="Chania">
          </div>
          
          <div class="carousel-caption">
            <div class="col-md-6">
              <h3>Chania</h3>
              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
          </div>
        </div>

        <div class="item col-md-12">
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1443453489887-98f56bc5bb38?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=8d94e2c649037735fe39babf8a0ffc9f" alt="Chania">
          </div>
          <div class="carousel-caption">
            <div class="col-md-6">
              <h3>Chania</h3>
              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
          </div>
        </div>

        <div class="item col-md-12">
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1441966055611-30ea468880a2?fit=crop&fm=jpg&h=675&ixlib=rb-0.3.5&q=80&w=1375" alt="Flower">
          </div>
          <div class="carousel-caption">
            <div class="col-md-6">
              <h3>Flowers</h3>
              <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
          </div>
        </div>

        <div class="item col-md-12">
          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=6b51557173323b115cbff88db2059960" alt="Flower">
          </div>
          <div class="carousel-caption">
            <div class="col-md-6">
              <h3>Flowers</h3>
              <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>
