<section id="services"  class="card-container">
  <div class="wrapper">
    <h2 class="center">
      Amit rólunk érdemes tudni!
    </h2>
    <hr>
    <div class="rent-card">
      <i class="fa fa-cog fa-3x"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="rent-card">
      <i class="fa fa-cog fa-3x"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="rent-card">
      <i class="fa fa-cog fa-3x"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
    <div class="rent-card">
      <i class="fa fa-cog fa-3x"></i>
      <h2>Okosság</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, sit, quibusdam, dignissimos facere mollitia iure nobis vero minus fugit.</p>
    </div>
  </div>
</section>