<section id="services"  class="card-container">
  <div class="wrapper">
    <h2 class="center">
      Amit rólunk érdemes tudni!
    </h2>
    <hr>
    <div class="flex-container">
      <div class="rent-card">
        <i class="fa fa-refresh fa-3x"></i>
        <h3>Teljeskörűség</h3>
        <p>Cégünk vállalja, hogy szakképzett munkatársaink elvégzik a szállítási feladatokat, felépítik a megbeszélt helyszínen majd, a rendezvény végeztével lebontják, és elszállítják.</p>
      </div>
      <div class="rent-card">
        <i class="fa fa-shield fa-3x"></i>
        <h3>Rugalmasság</h3>
        <p>Munkatársaink készségesen segítenek a megfelelő megoldások felkutatásában. Bátran keressen minket egyedi ötleteivel, igényeivel, rendelkezésére állunk!</p>
      </div>
      <div class="rent-card">
        <i class="fa fa-truck fa-3x"></i>
        <h3>Pontosság</h3>
        <p>Cégünk garanciát vállal arra, hogy az előzetesen egyeztetett építési és bontási határidőt minden körülmények között betartja.</p>
      </div>
      <div class="rent-card">
        <i class="fa fa-cog fa-3x"></i>
        <h3>Praktikusság</h3>
        <p>Faházainkat úgy alakítottuk ki, hogy alkalmasak legyenek kültéri rendezvényeken való árusításra, illetve lehetőség legyen villamos áram, víz és szennyvíz bekötésre.</p>
      </div>
    </div>
  </div>
</section>