.contact-container
  background-color: $light-gray
  padding: 5em 0
  width: 100%
  
  .wrapper
    +outer-container
    
    form
      input
        box-shadow: $box-shadow
        
      textarea
        max-width: 100%
        min-height: 250px
        box-shadow: $box-shadow