---
layout: default
---

<div id="about" class="hero full-picture" style="background-image: url({{ site.url }}{{ page.landing-picture }})">
  <div class="hero-overlay">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Pal-fa-ker</h1>
        <p>{{ site.description }}</p>  
      </div>
    </div>
  </div>
</div>

{% include production-card.html %}
{% include custom-order.html %}
{% include product-slider.html %}
{% include contact.html %}